.idea/
*.iml
201804-having_lunch_pg_mongo_json/src/main/resources/db.properties
target/
.project
.classpath
.settings/
202012-firecracker_cloud_image_automation/keypairs/
202012-firecracker_cloud_image_automation/disks/
202012-firecracker_cloud_image_automation/images/
